{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>Agenda</title>
</head>
<body>
<!-- 
    p1
    p2
    p3
    p4
-->
    <div id="cabeçalho" class="cabeçalho">
        <h1>cabeçalho</h1>
    </div>

    <div id="menu" class="menu">
        <button id="btn_home" class="aba abaSelecionada">Home</button>
        <button id="btn_novo" class="aba">Novo</button>
        <button id="btn_pesquisar" class="aba">Pesquisar</button>
        <button id="btn_gestao" class="aba">Gestao</button>
        <button id="btn_sobre" class="aba">Sobre</button>

    </div>

    <div id="principal" class="principal">
        <iframe src="{% static 'html/home.html' %}" id="if_principal" class="if_principal" name="if_principal"></iframe>
    </div>

    <script src="{% static 'js/agenda.js' %}"></script>
</body>
</html>