{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>Agenda</title>
</head>
<body>
<!-- 
    p1
    p2
    p3
-->

    <div id="cabeçalho" class="cabeçalho">
        <h1>cabeçalho</h1>
    </div>

    <div id="menu" class="menu">
        <a href="/home" id="btn_home" class="aba">Home</a>
        <a href="/novo" id="btn_novo" class="aba">Novo</a>
        <a href="/pesquisar" id="btn_pesquisar" class="aba">Pesquisar</a>
        <a href="/gestao" id="btn_gestao" class="aba">Gestao</a>
        <a href="/sobre" id="btn_sobre" class="aba">Sobre</a>

    </div>

    {% block content %}

    {% endblock %}

</body>
</html>